<li id="league_message-<%= league_message.id %>">
  <%#= link_to gravatar_for(league_message.user, size: 50), league_message.user %>
  <span class="user"><%= league_message.user.user_id %></span>
  <span class="content"><%= league_message.content.html_safe %></span>
  <span class="timestamp"><%= league_message.created_at.strftime('Posted %b %e at %I:%M %p') %></span>
</li>