<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script>
$(document).ready(function (){
  $("#scrollTeam").click(function() {
    $('html, body').animate({
        scrollTop: $("#teamgallery").offset().top
    }, 1300);
  });
});
</script>  
<div class = "wrapper">
  <section class = container id = "about">
    <% provide(:title, 'About') %>  
    <h1>Hi, we're FantasyTrack</h1>
    <h4>Nice to meet you!</h4>
    <div class = "brief description" id = "description">
        <p>
          <h3>This is the fantasy Track Application(Test)<h2>
        </p>
        <p>We are Team 5. </p>
    </div>
    
    <h2><a class="btn btn-lg btn-success" id = "scrollTeam"  class="scroll">Meet the Team</a></h2>
    
  </section>  
    
  <section class="section--white video" id = "video">

    <div class="row">
      <div class="ten columns centered text-center">
        <h1 class="headline margin-bottom-35">About the company</h1>
         <div class="embed-container">  
            <iframe width="1100" height="600" src="//www.youtube.com/embed/8VloZp3KlMM" frameborder="0" allowfullscreen></iframe>
        </div>
      </div> <!-- /.ten.columns -->
    </div> <!-- /.row -->
  </section>


  <section class="container" id="teamgallery">

    <div class="row">
      <h3 class="headline">Meet the members</h3>
      <!-- START TEAM PICS -->
      

      <div class="three columns">
        <a class="member" href="//www.facebook.com/connor.early?fref=ts" title="Connor Ealry, UX Designer" rel="nofollow">
          <img src="//scontent-ord1-1.xx.fbcdn.net/hprofile-xtp1/v/t1.0-1/p160x160/12115764_10205274112914147_7249469749748587271_n.jpg?oh=9c1564b32e78a4643c6ac78a1ce8c3af&oe=56E9A7B3" alt="Connor Ealry"  width="200" height="200">
        </a>
        <p class="name"><strong>Connor Ealry</strong><br>UX Designer</p>
      </div>
      
      <div class="three columns">
        <a class="member" href="//www.linkedin.com/in/yujhuang" title="Yujun Huang, Style Designer" rel="nofollow">
          <img src='/assets/Leon.jpg' alt="Leon" width="200" height="200">
        </a>
        <p class="name"><strong>Yujun Huang</strong><br>Styling Designer</p>
      </div>
      
      <div class="three columns">
        <a class="member" href="//www.facebook.com/nate.pierotti" title="Nate Pierotti, Tester" rel="nofollow">
          <img src="//scontent-ord1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/11140302_10206686086497061_3258471862366113814_n.jpg?oh=67dfb80d0a2c57bf41d704508362ec2b&oe=56EAA0A6" alt="Nate Pierotti"  width="200" height="200" >
        </a>
        <p class="name"><strong>Nate Pierotti</strong><br>Tester</p>
      </div>
      
      <div class="three columns">
        <a class="member" href="//www.facebook.com/kevin.lewis.750" title="Kevin Lewis, Business Development Specialist" rel="nofollow">
          <img src="//scontent-ord1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10262106_10204092527691700_8903186002264955989_n.jpg?oh=bbaa81b710a8a491f0c41eece6ab4f53&oe=56B08408" alt="Kevin Lewis"  width="150" height="200" >
        </a>
        <p class="name"><strong>Kevin Lewis</strong><br>Business Development Specialist</p>
      </div>
      
      <div class="three columns">
        <a class="member" href="//www.facebook.com/profile.php?id=100009314271301&fref=ts" title="Xi Chen, developer" rel="nofollow">
          <img src="//scontent-ord1-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/12106956_1505832936403834_6639357143948508265_n.jpg?oh=985e611489ed13146aef2d3ac5225c66&oe=56ACCA8A" alt="Xi Chen"  width="200" height="200" >
        </a>
        <p class="name"><strong>Xi Chen</strong><br>developer</p>
      </div>
     

    </div>
  </section>
  
</div>