<script>
    $(document).ready(function() {
    $('#example').DataTable();
    } );
</script>
<h3>Scores for Doha</h3>
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <td>User</td>
            <td>Score</td>
            <td>Box Score</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Kevin</td>
            <td>78</td>
            <td>link</td>
        </tr>
        <tr>
            <td>Connor</td>
            <td>63</td>
            <td>link</td>
        </tr>
        <tr>
            <td>Xi</td>
            <td>59</td>
            <td>link</td>
        </tr>
        <tr>
            <td>Nathan</td>
            <td>53</td>
            <td>link</td>
        </tr>
        <tr>
            <td>Leon</td>
            <td>7</td>
            <td>link</td>
        </tr>
    </tbody>
</table>