<h3>Scores for <%= meet.meet_name %></h3>
<table id="example" class="display example" cellspacing="0" width="100%">
    <thead>
        <tr>
            <td>User</td>
            <td>Score</td>
            <td>Box Score</td>
        </tr>
    </thead>
    <tbody>
        <% people.each do |p| %>
            <tr>
                <td><%= p.user_id %></td>
                <td><% scores.each do |s| %>
                        <% if(s.user_id == p.id && s.meet_id == meet.id) %>
                            <%= s.points %>
                        <% end %>
                    <% end %>
                </td>
                <td><%= link_to 'Box Score', "/leagues/#{p.id}/boxScore/?meet_id=#{meet.id}" %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>