<div class = "container" id = "leagues">
   <% provide(:title, 'League List') %>
   
   <h2>League List</h2>
   <table width = 50%>
       <tr>
           <td>League Name</td>
           <td>Creator</td>
           <td>Players</td>
       </tr>
       <% @allLeagues.each do |league| %>
       <tr>
           <td><%=link_to league.league_name, league_path(league) %></td>
           <td><%= User.find(league.creator_id).user_id %></td>
           <td>0</td>
       </tr>
       <% end %>
   </table>

   
   
   
  <h2>Your League List</h2>
  <h3><a><%= link_to "Create New League", new_league_path, method: "get" %></a></h3>
  <% @leagues.each do |p| %>
    <h5><%= p.league_name %></h5>
  <% end %>
</div>