<div class = "container" id = "leagues">
   
  <h2>Your League List</h2>
  <h3><a><%= link_to "Create New League", new_league_path, method: "get" %></a></h3>
  <% @leagues.each do |p| %>
    <h5><%=link_to p.league_name, league_path(p) %></h5>
  <% end %>
</div>