<div class = "container" id = "leagues">
   <% provide(:title, 'League List') %>
  <h2>Your League List</h2>
  <h3><a><%= link_to "Create New League", new_league_path, method: "get" %></a></h3>
  <% @leagues.each do |p| %>
    <h5><%= p.league_name %></h5>
  <% end %>
</div>