<script>
    $(document).ready(function() {
    $('#example').DataTable();
    } );
</script>

<div class = "container">
   <h2>Your League List</h2>
   <h3><a><%= link_to "Create New League", new_league_path, method: "get" %></a></h3>
     <table id="example" class="display" cellspacing="0" width="100%">
       <thead>
         <td>League Name</td>
         <td>Enter</td>
       </thead>
       <tbody>
          <h5><% @leagues.each do |p| %></h5>
          <tr>
              <td><%= p.league_name %></td>
              <td>
                 <%= link_to 'Enter', league_path(p) %>
              </td>
           </tr>
          <% end %>
       </tbody>
     </table>
</div>