<script>
    $(document).ready(function() {
    $('#example').DataTable();
    } );
</script>
<br/>
<div class = "container">
  <h2>League List</h2>
     <table id="example" class="display" cellspacing="0" width="100%">
       <thead>
         <td>League Name</td>
         <td>Join</td>
       </thead>
       <tbody>
          <h5><% @leagues.each do |p| %></h5>
          <tr>
              <td><%= p.league_name %></td>
              <td>
                <% if (p.creator_id == @thisUser.id) %>
                   <%=link_to 'Manage', league_path(p) %>
                <% else %>
                   <%= link_to 'Join', joinLeague_league_path(p) %>
                <% end %>
              </td>
           </tr>
          <% end %>
       </tbody>
     </table>
  
</div>
