<script>
    $(document).ready(function() {
    $('#example').DataTable();
    } );
</script>
<br/>
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <td>League Name</td>
        <td>Join</td>
    </thead>
    <tbody>
        <% @leagues.each do |p| %>
        <tr>
            <td><%= p.league_name %></td>
            <td><%= link_to 'Join', joinLeague_league_path(p) %></td>
        </tr>
        <% end %>
    </tbody>
</table>