<h2>Welcome to <%=@league.league_name %></h2>
<p>This is the page for League Information in detail</p>
<p>The information will be dispalyed differently depending on roles of user</p>

<h3>The buttons don't work yet</h3>

<form action="" style="width: 500px">
  League Passcode:<br>
  <input type="text">
  <br>
  <br>
  <input type="submit" value="Join League">
</form> 