<h2>Welcome to <%=@league.league_name %></h2>
<p>This is the page for League Information in detail</p>
<p>The information will be dispalyed differently depending on roles of user</p>

<% if (@league.creator_id == @thisUser.id) %>
    <h2><%= link_to 'Invite Friends', inviteFriend_league_path(@league) %></h2>
<% end %>