<script>
    $(document).ready(function() {
    $('#example').DataTable();
    } );
</script>
<br/>
<div class = "container" id = "athletes">
   <% provide(:title, 'Athlete List') %>
  <div>
     <h2>Athlete List</h2> 
  </div>
  <% if logged_in? %>
    <% if @current_user.role == "admin" %>
       <h3><a href="/athletes/new">Create New Athlete</a></h3>
    <%end%>
  <%end%>
  <div>
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <td>Name</td>
            <td>Country</td>
            <td>Birth Date</td>
            <% if @current_user.role == "admin" %>
            <td>Delete</td>
            <% end %>
        </thead>
        <tbody>
           <% @athletes.each do |p| %>
            <tr>
                <td><%= link_to "#{p.first_name} #{p.last_name}", athlete_path(p), method: "get" %></td>
                <td><%= p.country %></td>
                <td><%= p.birth_date %></td>
                <% if @current_user.role == "admin" %>
                    <td><%= link_to 'Delete', athlete_path(p), :method => :delete, :confirm => 'Are you sure?'%></td>
                <% end %>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>