

<%# This is the same panel shown in the Rails welcome template %>
<div id="about">
  <h3 class='section-heading'><a href="/rails/info/properties">About</a></h3>
  <div id="about-content" class="well" style="display: none"></div>
</div>

