<h2>This will show all of the events for this meet.</h2>
<h4>Meet: <% @meet.meet_name %></h4>
<h4>Location: #{@meet.location_city}, <% @meet.location_country %></h4>
<h4>Start Date: <% @meet.start_date %> </h4>
<h4>End Date: <% @meet.end_date %></h4>

<h5><a href="/events/new">Create New Event</a></h5>