/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
 

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  background-color: #B0B0B0;
  
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */


input {
  height: auto !important;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  padding:5px;
}
.navbar-brand {
  font-size: 25px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 10px;
  padding-left: 10px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  font-size: 17px;

}
.navbar-nav > li{
  margin-left:10px;
  margin-right:10px;
}



footer {
  bottom: 20px;
  padding: 40px;
  border-top: 1px;
  width:70%;
  margin-left:auto;
  margin-right:auto;
}

