// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* CUSTOMIZE THE CAROUSEL
*= require bootstrap
*= require_tree .
*= require_self
-------------------------------------------------- */
@import "bootstrap-sprockets";
@import "bootstrap";
 

#leagues {
    //margin-top: 100px;
    h2{
      text-align:center;
      font-weight:bolder;
    }
    
    p{
        margin-right:200px;
        margin-left:200px;
        margin-top:100px;
        margin-bottom:100px;
    }
    td{
        margin-right:200px;
        margin-left:200px;
        margin-top:100px;
        margin-bottom:100px;
    }
    
    div{
        margin-right:300px;
        margin-left:300px;
        margin-top:10px;
        margin-bottom:10px;
    }
    
}

#newleague {
   //#margin-top: 100px;
   h2{
      text-align:center;
      font-weight:bold;
    }
    #createleague {
        color: black;
    }
    background-image:image-url('leagueBg.jpg');
    background-size: cover;
}

#invite {
   //#margin-top: 100px;
   h2{
      text-align:center;
      font-weight:bold;
      color:white;
    }
    background-image:image-url('leagueBg.jpg');
    background-size: cover;
    #description {
        color:white;
    }
    #invitebyemail {
        color:white;
    }
    
    #header{
    }
}

#leagueNavBar{
    
    padding-right: 480px;
    
  .navbar .navbar-collapse {
      text-align: left;
      padding-right: 480px;
    }
    
    .navbar-wrapper > .container {
      padding-right: 0;
      padding-left: 0;
    }
    
    .navbar-wrapper .navbar {
      padding-right: 10px;
      padding-left: 10px;
    }
    .navbar-wrapper .navbar .container {
      width: auto;
    }
    .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
      font-size: 15px;

    }
}

div.boxed{
    box-sizing: border-box;
    width: 50%;
    border: 1px solid white;
    float: left;
}

div.region{
    width: 30em;
    border: 1em solid;
    padding-left: 200px;
}
