// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* CUSTOMIZE THE CAROUSEL
*= require bootstrap
*= require_tree .
*= require_self
-------------------------------------------------- */
@import "bootstrap-sprockets";
@import "bootstrap";
 

#meets {
    //margin-top: 100px;
    h2{
      text-align:center;
      font-weight:bolder;
   }
}

#newmeet {
   //#margin-top: 100px;
   h2{
      text-align:center;
      font-weight:bold;
      color:black;
   }
   background-image:image-url('meetBg.jpg');
   
   background-size: cover;
}

#meetdetail {
   //#margin-top: 100px;
   h4{
      text-align:left;
      font-weight:bold;
   }
}

#newathlete {
   //#margin-top: 100px;
   h2{
      text-align:center;
      font-weight:bold;
   }
   background-image:image-url('thirdSlide.jpg');
   
   background-size: cover;
}

#editathlete {
   h2{
      text-align:center;
      font-weight:bold;
      color:white;
   }
   background-image:image-url('editathlete.jpg');
   
   background-size: cover;
}