// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* CUSTOMIZE THE CAROUSEL
*= require bootstrap
*= require_tree .
*= require_self
-------------------------------------------------- */
@import "bootstrap-sprockets";
@import "bootstrap";
 

#login {
    color:black;
    padding:0;
    //margin-top: 100px;
    h1{
      text-align:center;
      font-weight:bolder;
      color: white;
    }
    #remember{
      color:black;
      font-weight:500;
      font-size:large;
    }
    p{
        font-weight:bold;
        color:white;
    }
    #emailLabel {
      color:white;
    }
    #passLabel{
      color:white;
    }
    background-image:image-url('welcometitle.jpg');
    background-position:bottom;
    background-repeat:no-repeat;
    background-size: cover;
   
    
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}